h6 {
    margin: 0;
    padding: 0;
}

body {
    background-color: whitesmoke;
    font-size: 18px;
    color: black;
    opacity: .9;
    font-family: Helvetica, sans-serif;
    text-align: center;
}

/* Navigation */
#nav-bar {
    width: 100%;
    background-color: white;
    height: 80px;
    display: flex;
    align-items: center;
    position: fixed;
    z-index: 1;

}

#logo {
   
    height: 4rem;
    position: absolute;
    left: 2rem;
    }

#nav-menu {
    margin-right: 10px;
    display: flex;
    position: relative;
    right: 3rem;
    float: right;
       }

#nav-menu ul {
  
  list-style: none;
  margin: 0 auto;
 
  
    
}

#nav-menu li {
    display: inline;   
    padding: 0.75rem 1.25rem;
    
    margin-right: auto;
    
}

#nav-menu li a {
    color: black;
    text-decoration: none;
}
/* Intro Banner */
#banner {
    background-color: black;
    top: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    background-image: url(/images/img-minnesota.jpg);
    opacity: 80%;
    background-repeat: no-repeat;
    background-position: center;
}

#banner-title {
    width: 100%;
    background-color: black;
    padding: 10px;
    color: white;
}

#banner-title h1 {
    margin-bottom: 20px;
}
#intro-copy {
    margin: 5rem;

}

/* The List */
.list-container {
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: black solid 1px;
    padding-top:1rem;
}
.list-container p {
    padding: 0 0 1rem 1rem;
}
blockquote {
    font-weight: bold;
    font-style: italic;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 6rem;
    margin-right: 6rem;
  }

/*Post-Prohibition Era*/
#mentions {
    top: 70px;
    margin-top: 50px;
    }
.headline {
    height: 3rem;
    text-align: center;
       }
.headline h3 {
    padding: 10px;
}    

.headline h3 {
    margin-top: 20px:
    align-items: center;
    }

#grid {
    margin: 0px auto;
    width: 1000px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#mention-container {
    margin-right: 32px;
    margin-bottom: 5px;
   }

#mention-container img {
    margin-bottom: 5px;
    object-fit: fill;
  }

/* Outro */
#outro {
    display: flex;
    flex-direction: column;
    height: 8rem;
    align-content: center;
    padding-top: 2rem;
}
#outro p {
    color: black;
    margin: 0 2rem;
    
}


/* Contact Section */
#contact-section {
    margin: 0 auto;
    position: relative;
    top: 150px;
    display: flex;
    height: 200px;
    align-items: center;
    flex-direction: column;
    background-color: #b564f6;
}

.contact-margin-bottom {
    margin-bottom: 40px;
}

/* The Copyright Footer */
#footer {
    position: relative;
    top: 70px;
    bottom: 0px;
    text-align: center;
    background-color: #b564f6;
}

#footer h5 {
    margin-left: 20px;
    margin-bottom: 90px;
}